<div class="top-navbar">

  <div class="left-section">
    <button class="w3-button w3-round-medium config-link" (click)="menuClicked.emit()">
      <lucide-icon [img]="menu" size="24" style="height: 24px;"></lucide-icon>
      Menu
    </button>
  </div>

  <div class="center-section w3-xlarge">
    Barbearia Studio Erick Vieira
  </div>

  <div class="right-section">
    <span class="w3-small">Usuário: Gilberto Araujo Gomes Junior</span>
    <span class="w3-small">Login: 29/05/2025 10:00</span>
  </div>

</div>
