.login-logo {
  margin-top: 10px;
  max-width: 125px;
  cursor: pointer;
}

.login-input{
  margin-top: 28px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
}
