<div [ngClass]="{'w3-container': true, 'large-screen-wrapper': isLargeScreen}">
  <div class="content-wrap" [ngStyle]="isLargeScreen ? {'width': '40%', 'margin': '0 auto'} : {'width': '100%'}">
    <img src="/images/logo-barbearia.png" alt="logo" class="w3-image login-logo">
    <div class="margin-bottom-32">
      <h1>Fazer login</h1>
      <p>Informe seu E-mail e Senha</p>
    </div>
    <form class="margin-bottom-32">
      <app-floating-input label="E-mail" id="email" type="email" [required]="true"></app-floating-input>
      <app-floating-input label="Senha" id="senha" type="password" [required]="true"></app-floating-input>
      <div class="w3-bar margin-top-32">
        <a routerLink="/registro" class="w3-left w3-text-deep-orange w3-button" style="text-decoration: underline">Criar conta</a>
        <button type="submit" class="w3-button w3-round-large w3-right w3-orange">Fazer login</button>
      </div>
    </form>

  </div>
</div>



