<div class="w3-container w3-margin-left w3-margin-right w3-margin-top">

  <div class="w3-row w3-center" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
    <div style="flex: 0 0 auto; text-align: center; margin-right: 24px;">
      <img src="/images/logo-barbearia.png" alt="logo" class="w3-image" style="max-width: 250px; width: 100%;">
    </div>

    <div style="flex: 1 1 400px; max-width: 600px; text-align: left;">
      <h2>Onde estamos</h2>

      <div>
        <p>
          <strong class="w3-text-deep-orange">Endereço:</strong>
          Rua Paulo Roberto Rego Barros Biscaia, 480 - Cidade Industrial de Curitiba, Curitiba - PR, 81240-510
        </p>
        <p>
          <strong class="w3-text-deep-orange">Telefone:</strong>
          (11) 99999-9999
        </p>
        <p>
          <strong class="w3-text-deep-orange">E-mail:</strong>
          <a [attr.href]="'mailto:' + emailBarbearia">{{ emailBarbearia }}</a>
        </p>
        <p>
          <strong class="w3-text-deep-orange">Horário de funcionamento:</strong>
          Seg-Sex 9h às 18h, Sábado 9h às 14h
        </p>
        <p>
          <a routerLink="/login" class="w3-text-deep-orange w3-hover-orange w3-padding-small" style="text-decoration: none;">Login</a>
          <span class="w3-text-deep-orange">|</span>
          <a routerLink="/registro" class="w3-text-deep-orange w3-hover-orange w3-padding-small" style="text-decoration: none;">Criar conta</a>
        </p>

      </div>
    </div>
  </div>

  <div class="w3-row" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
    <iframe title="mapa" class="w3-col s12 l8" style="border:0; height: 450px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3601.7418026167343!2d-49.33776854607698!3d-25.480295688764883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce2f06b22c151%3A0x5178f53342c42718!2sRua%20Paulo%20Roberto%20Rego%20Barros%20Biscaia%2C%20480%20-%20Cidade%20Industrial%20de%20Curitiba%2C%20Curitiba%20-%20PR%2C%2081240-510!5e0!3m2!1spt-BR!2sbr!4v1748444732543!5m2!1spt-BR!2sbr"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

</div>
