<div class="w3-sidebar w3-bar-block sidebar-container"
     [style.display]="isOpen ? 'block' : 'none'"
     style="z-index:5; position: relative;">

  <!-- Logo -->
  <div style="position: relative; text-align: center;">

    <button class="w3-button w3-small"
            (click)="closeSidebar()"
            style="position: absolute; top: 0; right: 0;">
      <lucide-icon [img]="circleX" class="w3-text-deep-orange" size="18"></lucide-icon>
    </button>

    <img src="/images/logo-barbearia.png" alt="logo" class="w3-image w3-margin-top" style="width: 55%;">

  </div>

  <hr>

  <!-- Links principais -->
  <a href="#" class="w3-bar-item w3-button config-link">
    <lucide-icon [img]="listIcon" size="20" style="height: 20px;"></lucide-icon>
    <span>Cadastros</span>
  </a>
  <a href="#" class="w3-bar-item w3-button">Relatórios</a>
  <a href="#" class="w3-bar-item w3-button">Profissionais</a>
  <a href="#" class="w3-bar-item w3-button config-link">
    <lucide-icon [img]="cogIcon" size="20" style="height: 20px;"></lucide-icon>
    <span>Configurações</span>
  </a>

  <!-- Botão fixo no final -->
  <div class="fixed-bottom-button">
    <hr>
    <a (click)="logout()" class="w3-button w3-orange w3-block">Sair</a>
  </div>

</div>
